<nav>
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="clients" routerLinkActive="active">Clients</a></li>
      <li><a routerLink="contractors" routerLinkActive="active">Contractors</a></li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>

  <!-- <nz-layout class="layout">
    <nz-sider>
      <div class="logo"> 
        <a href="https://afslogistics.co.uk/">
          <img
                class="logo"
                src="../../assets/logo.jpeg"
                alt="AFS Logistic Logo"
              />
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nzType="home" class="ant-menu-item">
          <i nz-icon nzType="home"></i>
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <br>
        <li nz-menu-item class="ant-menu-item">
          <i nz-icon nzType="team"></i>
          <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <br>
        <li nz-menu-item class="ant-menu-item">
          <i nz-icon nzType="user"></i>
          <a routerLink="contractors" routerLinkActive="active">Contractors</a>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="right-layout">
      <nz-header></nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>John Taggart</nz-footer>
    </nz-layout>
  </nz-layout> -->