<!-- <nav>
    <ul>
      <li><a routerLink="home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="clients" routerLinkActive="active">Clients</a></li>
      <li><a routerLink="contractors" routerLinkActive="active">Contractors</a></li>
    </ul>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div> -->

  <nz-layout>
    <nz-header>
      <div class="logo">
        <a href="https://afslogistics.co.uk/">
          <img
                class="logo"
                src="../../assets/logo.jpeg"
                alt="AFS Logistic Logo"
              />
        </a>
      </div>
      <ul nz-menu nzMode="horizontal" nzTheme="dark" class="header-menu">
        <li nz-menu-item nzType="home">
          <i nz-icon nzType="home"></i>
          <a routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="team"></i>
          <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="user"></i>
          <a routerLink="contractors" routerLinkActive="active">Contractors</a>
        </li>
      </ul>
    </nz-header>
    <nz-content class="outer-content">
      <nz-layout class="inner-layout">
        <nz-sider nzWidth="200px" nzTheme="light">
          <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-menu-item nzType="home">
              <i nz-icon nzType="home" class="font"></i>
              <a routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="team"></i>
              <a routerLink="clients" routerLinkActive="active">Clients</a>
            </li>
            <br>
            <li nz-menu-item>
              <i nz-icon nzType="user"></i>
              <a routerLink="contractors" routerLinkActive="active">Contractors</a>
            </li>
          </ul>
        </nz-sider>
        <nz-content>
          <div class="inner-content">
            <router-outlet></router-outlet>
          </div>
        </nz-content>
      </nz-layout>
      <nz-footer>John Taggart</nz-footer>
    </nz-content>
  </nz-layout>