.logo {
    width: 60px;
    height: 60px;
    float: left;
  }

  .header-menu {
    line-height: 56px;
  }

  .outer-content {
    padding: 0 50px;
  }

  .inner-layout {
    padding: 24px 0;
  }

  .sider-menu {
    height: 80%;
  }

  .inner-content {
    padding: 0 24px;
    min-height: 280px;
  }

  nz-footer {
    text-align: center;
  }

    :hover.ant-menu-item{
    background-color: #F5a624;
  }