// .logo {
//     height: 100px;
//     margin: 25px;
//   }

//   .layout {
//     min-height: 100vh;
//   }

//   nz-sider {
//     overflow: auto;
//     height: 100%;
//     position: fixed;
//     left: 0;
//   }

//   .right-layout {
//     margin-left: 200px;
//   }

//   nz-header {
//     background: #fff;
//     padding: 0;
//   }

//   nz-content {
//     margin: 24px 16px 0;
//     overflow: initial;
//   }

//   .inner-content {
//     padding: 24px;
//     background: #fff;
//     text-align: center;
//   }

//   nz-footer {
//     text-align: center;
//   }

//   .ant-menu-item{
//     padding: 40px;
//   }

//   :hover.ant-menu-item{
//     background-color: #F5a624;
//   }

.logo {
    width: 60px;
    height: 60px;
    float: left;
  }

  .header-menu {
    line-height: 80px;
    background-color: #252424;
  }

  .outer-content {
    padding: 0 50px;
  }

  .inner-layout {
    padding: 24px 0;
  }

  .sider-menu {
    height: 80%;
  }

  .inner-content {
    padding: 0 24px;
    min-height: 280px;
  }

  nz-footer {
    text-align: center;
  }

    :hover.ant-menu-item{
    background-color: #F5a624;
  }